@import url("https://fonts.googleapis.com/css?family=Montserrat&subset=latin-ext");
body {
  background-color: #1A1A1A;
  font-family: 'Montserrat', sans-serif;
  max-width: 100%; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

header {
  position: relative;
  display: block;
  height: 150px; }

@media only screen and (max-width: 767px) {
  header {
    height: 80px; } }

.top-container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 150px); }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .top-container {
      min-height: calc(100vh - 80px); } }
  @media only screen and (max-width: 400px) {
    .top-container {
      min-height: calc(100vh - 80px); } }

.jumbotron {
  flex: 10;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: -1px 0px 3px 0px #767573, -1px 5px 5px -10px #767573;
  border-top-right-radius: 15px;
  opacity: 0.9;
  background-image: url("../../img/background/adx4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #010101;
  transition: 500ms;
  z-index: 1; }
  @media only screen and (min-width: 1200px) {
    .jumbotron {
      background-size: contain; } }

.bg-sq {
  position: absolute;
  background-image: url("../../img/background/bg-sq.png");
  background-size: 20%;
  background-repeat: repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.1; }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .bg-sq {
      background-size: 50%; } }
  @media only screen and (max-width: 400px) {
    .bg-sq {
      background-size: 70%; } }

.slogan {
  display: block;
  text-transform: uppercase;
  z-index: 2; }
  .slogan h1 {
    color: #2c2c2c;
    font-size: 80px;
    letter-spacing: 2px;
    line-height: 85px;
    text-align: left; }
    .slogan h1 .slogan-bg {
      background-color: #d7d7d6;
      border-radius: 5px;
      padding: 4px;
      font-weight: bold; }
    .slogan h1 .slogan-dots {
      color: rgba(52, 152, 219, 0.4);
      letter-spacing: -1px; }
    @media only screen and (min-width: 401px) and (max-width: 767px) {
      .slogan h1 {
        margin-left: 15px;
        font-size: 42px; }
        .slogan h1 .slogan-bg {
          padding: 2px; } }
    @media only screen and (max-width: 400px) {
      .slogan h1 {
        margin-left: 5px;
        font-size: 28px;
        line-height: 35px;
        letter-spacing: 0; }
        .slogan h1 .slogan-bg {
          padding: 4px; } }

.side-content {
  flex: 1;
  position: relative;
  border-top-left-radius: 15px;
  box-shadow: -1px 0px 3px 0px #767573, -1px 5px 5px -10px #767573;
  background-image: url("../../img/background/dots.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 300ms; }
  .side-content i {
    position: absolute;
    font-size: 60px;
    bottom: 25%;
    left: -43px;
    z-index: 100;
    color: #3498db; }
    @media only screen and (max-width: 400px) {
      .side-content i {
        font-size: 40px;
        left: -29px; } }
    .side-content i span {
      color: white;
      display: block;
      margin-top: 20px; }

.side-bg-color {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(44, 62, 80, 0.9);
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px; }

.txt-box {
  position: relative;
  width: 1%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  color: white; }

.p-txt {
  opacity: 0;
  font-size: 18px;
  transition: line-height 400ms  300ms , opacity 300ms ease-out 300ms, width 100ms 100ms , height 200ms;
  line-height: 1%; }
  .p-txt span {
    margin-top: 10px;
    display: block; }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .p-txt {
      font-size: 16px; } }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .p-txt {
      font-size: 14px; } }
  @media only screen and (max-width: 400px) {
    .p-txt {
      font-size: 12px; } }

.section-wp {
  position: absolute;
  top: 0;
  width: 100%;
  height: 4px;
  background-color: black;
  z-index: 999; }

.scroll {
  transition: 1s;
  display: block; }

.scroll-hide {
  display: none; }

.middle-container {
  display: flex;
  position: relative;
  padding-bottom: 50px;
  transition: 200ms;
  min-height: 100vh; }
  .middle-container h1 {
    position: absolute;
    font-size: 100px;
    color: #393939;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin: 0; }
    @media only screen and (min-width: 768px) and (max-width: 1199px) {
      .middle-container h1 {
        font-size: 80px; } }
    @media only screen and (min-width: 401px) and (max-width: 767px) {
      .middle-container h1 {
        font-size: 50px;
        color: #2c2c2c; } }
    @media only screen and (max-width: 400px) {
      .middle-container h1 {
        font-size: 38px;
        color: #2c2c2c; } }
    .middle-container h1 span {
      background-color: #d7d7d6;
      border-radius: 15px; }
      @media only screen and (max-width: 400px) {
        .middle-container h1 span {
          border-radius: 5px; } }

.h-wp {
  top: 900px;
  transition: 600ms ease-out; }

.bg-portfolio {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/background/bg-portfolio.png");
  background-size: 20%;
  background-repeat: repeat;
  background-position: right;
  opacity: 0.1; }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .bg-portfolio {
      background-size: 50%; } }
  @media only screen and (max-width: 400px) {
    .bg-portfolio {
      background-size: 70%; } }

.tech-box {
  display: flex;
  align-items: flex-start;
  background-color: #343333;
  padding: 20px;
  margin-top: 120px; }
  @media only screen and (max-width: 400px) {
    .tech-box {
      padding: 50px 5px 0 5px; } }
  .tech-box .progressbar {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    list-style-type: none;
    transition: 1s;
    position: relative;
    color: white;
    z-index: 1; }
    .tech-box .progressbar:last-child {
      content: none; }

.prog-item {
  padding-top: 20px; }
  .prog-item:before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    width: 10px;
    height: 10px;
    display: block;
    text-align: center;
    border-radius: 5px;
    background-color: #3498db;
    letter-spacing: 0px;
    z-index: 1;
    transition: 600ms; }
  .prog-item:after {
    height: 87.5%; }

.tech-logo {
  display: flex;
  background-position: center;
  background-size: cover;
  height: 0;
  opacity: 0;
  transition: 1200ms;
  margin-left: 25px; }

.html-logo {
  background-image: url("../../img/tech/html.png");
  width: 71px; }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .html-logo {
      width: 53.25px; } }
  @media only screen and (max-width: 400px) {
    .html-logo {
      width: 47.3333333333px; } }

.css-logo {
  background-image: url("../../img/tech/css3.png");
  width: 71px; }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .css-logo {
      width: 53.25px; } }
  @media only screen and (max-width: 400px) {
    .css-logo {
      width: 47.3333333333px; } }

.bootstrap-logo {
  background-image: url("../../img/tech/bootstrap.png");
  width: 77px; }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .bootstrap-logo {
      width: 57.75px; } }
  @media only screen and (max-width: 400px) {
    .bootstrap-logo {
      width: 51.3333333333px; } }

.grunt-logo {
  background-image: url("../../img/tech/grunt.png");
  width: 75px; }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .grunt-logo {
      width: 56.25px; } }
  @media only screen and (max-width: 400px) {
    .grunt-logo {
      width: 50px; } }

.git-logo {
  background-image: url("../../img/tech/git.png");
  width: 100px; }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .git-logo {
      width: 75px; } }
  @media only screen and (max-width: 400px) {
    .git-logo {
      width: 66.6666666667px; } }

.javascript-logo {
  background-image: url("../../img/tech/js-logo.png");
  width: 71px; }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .javascript-logo {
      width: 53.25px; } }
  @media only screen and (max-width: 400px) {
    .javascript-logo {
      width: 47.3333333333px; } }

.jquery-logo {
  background-image: url("../../img/tech/jquery.png");
  width: 67px; }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .jquery-logo {
      width: 50.25px; } }
  @media only screen and (max-width: 400px) {
    .jquery-logo {
      width: 44.6666666667px; } }

.sass-logo {
  background-image: url("../../img/tech/sass.png");
  width: 100px; }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .sass-logo {
      width: 75px; } }
  @media only screen and (max-width: 400px) {
    .sass-logo {
      width: 66.6666666667px; } }

.portfolio-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 100px 50px 0 50px;
  justify-content: space-arround; }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .portfolio-box {
      justify-content: center;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 30px; } }
  @media only screen and (max-width: 400px) {
    .portfolio-box {
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 30px; } }

.project-box {
  position: relative;
  width: 155px;
  height: 310px;
  margin: 100px; }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .project-box {
      margin: 50px; } }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .project-box {
      margin: 20px 0; } }
  @media only screen and (max-width: 400px) {
    .project-box {
      margin: 20px 0;
      width: 103.333333333px;
      height: 206.666666667px; } }

.project-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 310px;
  z-index: 5;
  transition: 450ms ease-out;
  border-radius: 10px; }

@media only screen and (min-width: 768px) {
  .project-pic:hover {
    cursor: pointer;
    transform: scale(1.1); } }

.project1 {
  background-image: url("../../img/portfolio/dk340x620.jpg");
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: 1s ease-out; }

.project2 {
  background-image: url("../../img/portfolio/cw340x620.jpg");
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: 1s ease-out; }

.project3 {
  background-image: url("../../img/portfolio/m340x620.jpg");
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: 1s ease-out; }

.project4 {
  background-image: url("../../img/portfolio/ao340x620.jpg");
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: 1s ease-out; }

.p-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100px;
  left: 50%;
  width: 0;
  height: 160px;
  border: 1px solid #c6c5c4;
  transition: 300ms ease-in;
  border-radius: 10px;
  text-align: center; }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .p-info {
      top: 20px;
      height: 0px; } }
  @media only screen and (max-width: 400px) {
    .p-info {
      top: 20px;
      height: 0px; } }
  .p-info a span {
    display: none;
    font-size: 40px;
    color: #1A1A1A; }
  .p-info span {
    display: none;
    color: #3498db;
    font-size: 35px; }

.modal-1 {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  animation: opacity 800ms 1 linear; }
  .modal-1 h3 {
    padding: 40px 20px;
    background-color: #3498db;
    color: white;
    font-size: 35px; }

.modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 7px 20px rgba(0, 0, 0, 0.2); }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .modal-content {
      width: 75%; } }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .modal-content {
      margin: 15% auto;
      width: 80%; } }
  @media only screen and (max-width: 400px) {
    .modal-content {
      margin: 10% auto;
      width: 100%; } }

.modal-body {
  font-size: 18px;
  padding: 20px; }
  .modal-body p,
  .modal-body ul,
  .modal-body li {
    margin: 15px 0 0 15px; }
    @media only screen and (min-width: 401px) and (max-width: 767px) {
      .modal-body p,
      .modal-body ul,
      .modal-body li {
        margin: 6px 0 0 6px; } }
    @media only screen and (max-width: 400px) {
      .modal-body p,
      .modal-body ul,
      .modal-body li {
        margin: 5px 0 0 10px; } }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .modal-body {
      padding: 10px;
      font-size: 16px; } }
  @media only screen and (max-width: 400px) {
    .modal-body {
      padding: 5px;
      font-size: 14px; } }

.app-link {
  display: block;
  width: 100%;
  margin: 10px auto;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  padding: 15px;
  text-align: center; }
  .app-link:hover span {
    background-color: white;
    color: #3498db;
    padding: 5px 20px; }
  .app-link span {
    transition: 300ms;
    border: 1px solid white;
    padding: 5px; }

.closeModal {
  color: white;
  float: right;
  font-size: 40px;
  margin: 35px 40px; }
  .closeModal:hover {
    cursor: pointer;
    color: black;
    text-decoration: none;
    transform: scale(1.3); }

.bottom-container {
  position: relative;
  width: 100%; }
  .bottom-container h1 {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 100px;
    color: #393939;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin: 0;
    padding-right: 150px;
    z-index: 1; }
    .bottom-container h1 span {
      background-color: #d7d7d6;
      border-radius: 15px; }
    @media only screen and (min-width: 768px) and (max-width: 1199px) {
      .bottom-container h1 {
        font-size: 70px;
        padding-right: 50px; } }
    @media only screen and (min-width: 401px) and (max-width: 767px) {
      .bottom-container h1 {
        font-size: 55px;
        padding-right: 20px; } }
    @media only screen and (max-width: 400px) {
      .bottom-container h1 {
        font-size: 38px;
        padding-right: 20px;
        top: 30px; }
        .bottom-container h1 span {
          border-radius: 5px; } }

.bg-bottom {
  position: absolute;
  background-image: url("../../img/background/bg-body.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.1; }

.form-container {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  margin-right: 150px;
  padding-top: 100px; }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .form-container {
      width: 100%;
      margin-right: 0; } }
  @media only screen and (max-width: 400px) {
    .form-container {
      width: 100%;
      margin-top: 150px;
      margin-right: 0; } }

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 20px; }
  form label {
    padding-top: 20px;
    color: white; }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    form {
      padding-top: 200px; } }
  @media only screen and (max-width: 400px) {
    form {
      padding-top: 120px; } }
  form input {
    width: calc(50% - 20px);
    height: 40px;
    padding-left: 10px;
    background-color: #d7d7d6;
    border-radius: 5px;
    margin: 10px; }
    form input:focus {
      border: 2px solid #3498db; }
    form input:last-child {
      background-color: #3498db;
      border: none; }
    @media only screen and (min-width: 401px) and (max-width: 767px) {
      form input {
        width: 100%; } }
    @media only screen and (max-width: 400px) {
      form input {
        width: 100%; } }
  form textarea {
    width: calc(100% - 20px);
    height: 300px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #d7d7d6;
    border-radius: 5px;
    margin: 10px; }
    form textarea:focus {
      border: 2px solid #3498db; }

footer {
  color: white;
  min-height: 250px;
  background-color: black;
  box-shadow: -2px -8px 5px -10px #767573; }
  footer p {
    margin: 0;
    padding: 5px;
    text-align: center;
    background-color: #1A1A1A; }

.icons-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px 0 50px 100px; }
  .icons-container span {
    width: 100%;
    font-size: 35px;
    position: relative; }
    .icons-container span p {
      position: absolute;
      color: white;
      top: 5px;
      left: 50px;
      font-size: 18px; }
      @media only screen and (max-width: 400px) {
        .icons-container span p {
          font-size: 14px; } }
  .icons-container a {
    width: 100%;
    color: white; }

@media only screen and (max-width: 767px) {
  .icons-container {
    padding: 20px 0 20px 10px; } }

.logo {
  background-image: url("../../img/logo/ao-logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50px;
  left: 25px;
  z-index: 100;
  transition: 500ms ease-in-out; }
  .logo:hover {
    cursor: pointer;
    transform: rotate(-90deg); }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .logo {
      top: 14px;
      left: 10px; } }
  @media only screen and (max-width: 400px) {
    .logo {
      width: 45px;
      height: 45px;
      top: 9px;
      left: 10px; } }

.github {
  background-image: url("../../img/tech/github1.png");
  background-position: center;
  background-size: 100%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 52px;
  right: 225px;
  transition: transform 500ms ease-in-out; }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .github {
      top: 14px;
      right: 100px; } }
  @media only screen and (max-width: 400px) {
    .github {
      width: 38px;
      height: 38px;
      top: 13px;
      right: 80px; } }
  .github:hover {
    cursor: pointer;
    animation: pulse 400ms ease-out infinite both; }

.linkedin {
  position: absolute;
  top: 47px;
  right: 325px;
  transform: scale(1); }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .linkedin {
      top: 9px;
      right: 160px; } }
  @media only screen and (max-width: 400px) {
    .linkedin {
      top: 7px;
      right: 120px; } }
  .linkedin i {
    font-size: 50px;
    color: #3498db; }
    @media only screen and (max-width: 400px) {
      .linkedin i {
        font-size: 41px; } }
  .linkedin:hover {
    cursor: pointer;
    animation: pulse 400ms ease-out infinite both; }

.email {
  position: absolute;
  top: 57px;
  right: 114px;
  transition: transform 300ms ease-in-out; }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .email {
      top: 18px;
      right: 35px; } }
  @media only screen and (max-width: 400px) {
    .email {
      top: 16px;
      right: 30px; } }
  .email i {
    font-size: 38px;
    color: #3498db; }
    @media only screen and (max-width: 400px) {
      .email i {
        font-size: 32px; } }
  .email:hover {
    cursor: pointer;
    animation: pulse 300ms ease-out infinite both; }

.backToTop-box {
  bottom: 80px;
  position: fixed;
  right: -100px;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  border-radius: 10px;
  transition: 300ms;
  z-index: 1000; }
  .backToTop-box:hover {
    cursor: pointer;
    transform: scale(1.1); }
  @media only screen and (max-width: 400px) {
    .backToTop-box {
      width: 40px;
      height: 40px; } }
  .backToTop-box .backToTop {
    top: 24px;
    position: relative;
    left: 20%;
    width: 60%;
    height: 4px;
    color: #1A1A1A;
    font-weight: bold;
    animation: jump2 800ms linear infinite both; }
    .backToTop-box .backToTop:before {
      content: '';
      position: absolute;
      top: -20px;
      right: 4px;
      width: 50%;
      height: 4px;
      border-radius: 10px;
      color: white;
      transform: rotate(60deg);
      background-color: #1A1A1A; }
    .backToTop-box .backToTop:after {
      content: '';
      position: absolute;
      top: -20px;
      left: 4px;
      width: 50%;
      height: 4px;
      border-radius: 10px;
      color: white;
      transform: rotate(-60deg);
      background-color: #1A1A1A; }
    .backToTop-box .backToTop span {
      font-size: 10px;
      position: absolute;
      bottom: 0px;
      left: 50%;
      color: #1A1A1A;
      transform: translate(-50%, -10%); }

.backToMiddle-box {
  bottom: 20px;
  position: fixed;
  right: -100px;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  border-radius: 10px;
  transition: 300ms;
  z-index: 1000; }
  .backToMiddle-box:hover {
    cursor: pointer;
    transform: scale(1.1); }
  @media only screen and (max-width: 400px) {
    .backToMiddle-box {
      width: 40px;
      height: 40px; } }
  .backToMiddle-box span {
    font-size: 10px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    color: #1A1A1A;
    transform: translate(-50%, -10%); }
  .backToMiddle-box .backToMiddle {
    top: 10px;
    position: relative;
    left: 20%;
    width: 60%;
    height: 4px;
    color: #1A1A1A;
    font-weight: bold;
    animation: jump2 800ms linear infinite both; }
    .backToMiddle-box .backToMiddle:before {
      content: '';
      position: absolute;
      top: -20px;
      right: 4px;
      width: 50%;
      height: 4px;
      border-radius: 10px;
      color: white;
      transform: rotate(60deg);
      background-color: #1A1A1A; }
    .backToMiddle-box .backToMiddle:after {
      content: '';
      position: absolute;
      top: -20px;
      left: 4px;
      width: 50%;
      height: 4px;
      border-radius: 10px;
      color: white;
      transform: rotate(-60deg);
      background-color: #1A1A1A; }

.scroll-down {
  width: 30px;
  height: 30px;
  border: 3px solid #767573;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 15px);
  transition: 400ms;
  border-radius: 15px;
  animation: jump 800ms ease-out infinite both; }
  @media only screen and (max-width: 400px) {
    .scroll-down {
      width: 20px;
      height: 20px;
      left: calc(50% - 10px); } }
  @media only screen and (min-width: 768px) {
    .scroll-down:hover {
      transform: rotate(45deg);
      bottom: 35px;
      cursor: pointer;
      background-color: inherit;
      border-left: none;
      border-top: none;
      border-radius: 5px; } }

.line {
  position: absolute;
  bottom: 65px;
  left: calc(50% - 1px);
  height: 0;
  background-color: #767573;
  width: 2px;
  transition: 300ms;
  opacity: 0.6;
  animation: lineUpDown 2s linear infinite reverse; }
  @media only screen and (max-width: 400px) {
    .line {
      left: calc(50% - 1px);
      bottom: 45px; } }

.scroll-side {
  position: absolute;
  top: 42px;
  left: 10px;
  width: 12px;
  height: 12px;
  border-bottom: 2px solid #3498db;
  border-right: 2px solid #3498db;
  border-radius: 3px;
  transition: 1s;
  transform: rotate(135deg);
  animation: slide 1600ms ease-out infinite both; }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .scroll-side {
      bottom: 15px; } }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .scroll-side {
      bottom: 15px; } }
  @media only screen and (max-width: 400px) {
    .scroll-side {
      bottom: 12px; } }

@keyframes lineUpDown {
  0% {
    height: 0px;
    opacity: 0.6;
    background-color: #838280; }
  25% {
    height: 25px;
    opacity: 0.5;
    background-color: #807f7d; }
  50% {
    height: 50px;
    opacity: 0.4;
    background-color: #7e7d7b; }
  75% {
    height: 75px;
    opacity: 0.3;
    background-color: #3d9cdd; }
  100% {
    height: 100px;
    opacity: 0.1;
    background-color: #767573; } }

@keyframes jump {
  0% {
    bottom: 20px;
    background-color: #1A1A1A;
    border-color: #3498db; }
  100% {
    bottom: 24px; } }

@keyframes jump2 {
  0% {
    top: 34px; }
  100% {
    height: 5px;
    top: 32px; } }

@keyframes slide {
  0% {
    left: 10px;
    opacity: 1; }
  100% {
    left: 15px;
    opacity: 0; } }

@keyframes pulse {
  0% {
    transform: scale(0.9); }
  100% {
    transform: scale(1.1); } }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.side-expand .jumbotron {
  flex: 1; }

.side-expand .side-content {
  flex: 10; }
  .side-expand .side-content .scroll-side {
    transform: rotate(315deg); }
  .side-expand .side-content .photo-cv {
    display: block; }

@media only screen and (min-width: 1200px) {
  .side-expand .jumbotron {
    flex: 2; }
  .side-expand .side-content {
    flex: 3; } }

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .side-expand .jumbotron h1 {
    font-size: 40px;
    margin-left: 8px; } }

@media only screen and (min-width: 401px) and (max-width: 767px) {
  .side-expand .jumbotron h1 {
    font-size: 38px;
    margin-left: 2px; } }

.content-display {
  height: 100%;
  width: 85%;
  opacity: 1; }
  @media only screen and (max-width: 400px) {
    .content-display {
      width: 95%; } }
  .content-display .p-txt {
    opacity: 1;
    line-height: 150%;
    margin: 12.5%; }
    @media only screen and (max-width: 400px) {
      .content-display .p-txt {
        margin: 20% 2% 5% 10%;
        text-align: justify; } }

.techlogo-active {
  height: 100px;
  opacity: 1; }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .techlogo-active {
      height: 75px; } }
  @media only screen and (max-width: 400px) {
    .techlogo-active {
      height: 66.6666666667px; } }

.progress-active .prog-item:before {
  width: 10px;
  height: 10px;
  transform: rotate(405deg);
  line-height: 50px;
  border: 3px solid white; }

.progress-active .prog-item:after {
  content: '';
  position: absolute;
  left: 7px;
  top: 20px;
  width: 2px;
  height: 100% / 8;
  background-color: white;
  transform: rotate(360deg); }

.h-active {
  top: 50px;
  right: 50px; }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .h-active {
      right: 10px; } }
  @media only screen and (max-width: 400px) {
    .h-active {
      right: 5px; } }

.project-slide .p-info {
  top: calc(50% - 80px);
  left: 150px;
  width: 60px;
  height: 160px;
  background-color: #d0cfce; }
  .project-slide .p-info span {
    display: block; }
  @media only screen and (min-width: 401px) and (max-width: 767px) {
    .project-slide .p-info {
      left: 128px; } }
  @media only screen and (max-width: 400px) {
    .project-slide .p-info {
      left: 80px; } }

.project-slide .project-pic {
  left: -25px;
  transform: scale(0.95); }

.btnBM-active {
  right: 20px; }
  @media only screen and (max-width: 400px) {
    .btnBM-active {
      right: 10px; } }

.btnUPtop-active {
  right: 20px;
  bottom: 80px; }
  @media only screen and (max-width: 400px) {
    .btnUPtop-active {
      right: 10px; } }

.btnUPbtm-active {
  right: 20px;
  bottom: 20px; }
  @media only screen and (max-width: 400px) {
    .btnUPbtm-active {
      right: 10px; } }

/*# sourceMappingURL=style.css.map */