
.icon-info-circled:before { content: '\e803'; } /* '' */
.icon-eye:before { content: '\e805'; } /* '' */
.icon-at-circled:before { content: '\e806'; } /* '' */
.icon-mobile:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-chrome:before { content: '\f268'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */